// Resets
* {
  box-sizing: border-box;
}

// Style scheme variables
:root {
  --c-primary:                        #fff;
  --c-secondary:                      rgb(206, 61, 242);
  --c-accent-first:                   rgb(206, 61, 242);
  --c-accent-second:                  rgb(9, 232, 135);
  --c-accent-fadeout:                 rgb(162, 162, 162);

  --q-primary:                          var(--c-primary);
  --q-secondary:                        var(--c-secondary);
  --q-accent:                           var(--c-accent-first);
  --q-dark:                           #1d1d1d;
  --q-dark-page:                      #121212;
  --q-positive:                       #21BA45;
  --q-negative:                       #C10015;
  --q-info:                           #31CCEC;
  --q-warning:                        #F2C037;
  
  --font-color-primary:                 var(--c-primary);
  --font-color-secondary:               var(--c-primary);
  --font-color-bright-primary:          var(--c-accent-first);
  --font-color-bright-secondary:        var(--c-accent-second);
  --font-family-primary:                'League Spartan', sans-serif;
}