* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

:root {
  --c-primary: #030101;
  --c-secondary: rgb(117, 46, 46);
  --c-accent-first: rgb(156, 44, 184);
  --c-accent-second: rgb(11, 168, 100);

  --c-dark: #1d1d1d;
  --c-dark-page: #121212;
  --c-positive: #21BA45;
  --c-negative: #C10015;
  --c-info: #31CCEC;
  --c-warning: #F2C037;
  
  --font-color-primary: var(--c-primary);
  --font-color-secondary: var(--c-primary);
  --font-color-bright-primary: var(--c-accent-first);
  --font-color-bright-secondary: var(--c-accent-second);
  --font-family-primary: Roboto;
}